.element__delete-button {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 19px;
  flex-shrink: 0;
  cursor: pointer;
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  background-size: cover;
  background: url(../../../images/Trash.svg);
  transition: opacity 0.5s linear;
}

@media (any-hover: hover) {
  .element__delete-button:hover {
    opacity: 50%;
    transition: opacity 0.2s linear;
    }
}