.profile {
  margin: 0 auto 51px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 880px;
  align-items: center;
  justify-content: space-between;
  color: white;
  gap: 30px;
}

@media screen and (max-width: 950px) {
  .profile {
    flex-direction: column;
    gap: 36px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    margin: 0 auto 36px auto;
    gap: 31px;
  }
}
