.header__logo {
  margin: 0 auto 41px 0;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin: 28px auto 31px 27px;
    width: 103px;
    height: 24px;
  }
}