.profile-person__info {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 336px;
  gap: 10px;
}

@media screen and (max-width: 706px) {
  .profile-person__info {
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .profile-person__info {
    align-items: center;
  }
}
